.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/xcshareddata
.netrc

# these products of the command might end up in the project repo
*.xcstrings
*.xcloc
*.mobileconfig
*.plist
